@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 bg-danger">
        <span class="flex-fill text-white">Experimental Page</span>
        <button class="btn btn-primary mx-2" @onclick="ThumbsUp">
        <span class="oi oi-thumb-up">Approvals - @approvals</span>
        </button>
        <button class="btn btn-primary mx-2" @onclick="ThumbsDown">
        <span class="oi oi-thumb-down">Disapprovals - @disapprovals</span>
        </button>
    </div>

    <div class="content px-4">
        @Body
    </div>

    <footer class="text-center">
        Copyright @DateTime.Now.Year by Ariste Enterprise
    </footer>
</div>
@code {

    private int approvals = 0;
    private int disapprovals = 0;

    private void ThumbsUp()
    {
        approvals += 1;
    }

    private void ThumbsDown()
    {
        disapprovals += 1;
    }
}